body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
}

.info-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex: 1;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: auto; 
    padding: 10px 20px; 
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0; 
}

button:hover {
    background-color: #4cae4c;
}

.register-link {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

.action-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-container input {
    width: auto; 
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.action-container button.logout-btn {
    margin-top: 10px;
    background-color: #5cb85c; /* зеленый, как у остальных кнопок */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    padding: 10px 20px;
}

.action-container button.logout-btn:hover {
    background-color: #4cae4c;
}

.action-container button.delete-btn {
    margin-top: 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    padding: 10px 20px;
}

.action-container button.delete-btn:hover {
    background-color: #c9302c;
}

.admin-action-btn {
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    width: auto;
    margin: 10px 0;
}

.admin-action-btn:hover {
    background-color: #c9302c;
}