<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info Page</title>
    <link rel="stylesheet" href="{{ url_for('static', path='my_info.css') }}">
</head>
<body>
    <div class="action-container">
        <button onclick="getNumber()">Get Lucky Number!!!</button>
        <input type="text" id="user-data" placeholder="Your number will be here" readonly>
    </div>
    <div class="action-container">
    <button onclick="getAdminInfo()" class="admin-action-btn">AdminAction</button>
    <input type="text" id="admin-data" placeholder="Admin info will be here" readonly>
</div>
    <div class="info-container">
        <h2>User Information</h2>
        <div class="user-data">
            <label>First Name:</label>
            <span>{{ user.first_name }}</span>
        </div>
        <div class="user-data">
            <label>Last Name:</label>
            <span>{{ user.last_name }}</span>
        </div>
        <div class="user-data">
            <label>Email:</label>
            <span>{{ user.email }}</span>
        </div>
        
        <div class="action-container">
            <button onclick="location.href='/front/my_info/change'">Change Data</button>
        </div>
        <div class="action-container">
            <button onclick="location.href='/logout'" style="margin-top: 10px;">LogOut</button>
            <button onclick="deleteAccount()" style="margin-top: 10px; background-color: #d9534f;">Delete my account</button>
        </div>
    </div>

    <script>
    async function getNumber() {
        const response = await fetch("/my_info/lucky_number");
        if (response.ok) {
            console.log('aaa')
            const data = await response.json();
            document.getElementById("user-data").value = data.lucky_number;
        } else {
            document.getElementById("user-data").value = "Error";
        }
    }
    async function deleteAccount() {
        window.location.href = '/logout?delete=True';
    }
    async function getAdminInfo() {
        const response = await fetch("/my_info/admin_data");
        if (response.ok) {
            const data = await response.json();
            document.getElementById("admin-data").value = data.admin_data;
        } else {
            document.getElementById("admin-data").value = "Error";
        }
    }
</script>
</body>
</html>